body,html{
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}
body{
    background: url(/assets/images/login_bg.jpg) no-repeat;
}
.w{
    width: 1140px;
    margin: 0 auto;
}
.logo{
    margin-top: 20px;
}
.loginAndRegbox{
    width: 400px;
    height: 310px;
    background-color: white;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.title{
    height: 60px;
    background:url(/assets/images/login_title.png) no-repeat center;
}
.layui-input-block{
   margin: 0 auto;
   width: 340px;

}
.layui-input{
 position: relative;
    padding-left: 40px; 
}
.iconfont{
 position: absolute;
 left: 0;
 top: 10px;
 z-index: 3;
 padding-left: 10px;
}
.goReg{
    position: absolute;
    right: 28px;
}